{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">Welcome to my blog</h1>
        <br />
        <br />
        <h2>Latest Posts</h2>
        <hr />
        {% for post in all_blog_posts.all %}
        <a href="{% url 'detail' post.id %}">
            <h3>{{ post.title }}</h3>
        </a>
        <i class="far fa-clock" title="{{ post.pub_date }}"></i> {{ post.pub_date_pretty }}
        <br />
        <img class="img-fluid" src="{{ post.image.url }}" style="max-height: 250px" />
        <br />
        <p>{{ post.summary }}</p>
        <br />
        <br />
        {% endfor %}
    </div>
</main>
{% endblock %}