{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<main role="main">
    <div class="container">
        <h1 class="text-center pt-3">{{ blog.title }}</h1>
        <div class="text-center"><i class="far fa-clock" title="{{ blog.pub_date }}"></i> {{ blog.pub_date }}</div>
        <br />
        <img class="mx-auto d-block" src="{{ blog.image.url }}" style="max-height: 400px" />
        <br />
        <p>{{ blog.body }}</p>
    </div>
</main>
{% endblock %}